.calculatorBody{
    background-color: #1C1C1C;
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 300px;
    height: 500px;
    
}
.button{
    color: black;
    height: 40px;
    width: 60px;
    padding-top: 20px;
    border-radius: 50%;
    text-align: center;
    background-color: #d2d1d6;
    user-select: none;
}
.button:hover{
    background-color: #a7a7a7;
}
.button:active{
    background-color: #d2d1d6;
}
.t{
    background-color:  #c5c4c7 ;
}
.r{
    background-color: #FF9500;
}
.keyBoard{
    display: grid;;
    grid-template-columns: repeat(4, 65px);
    grid-template-rows: repeat(4, 65px);
    grid-gap: 10px;
    padding-left: 5px;
    padding-top: 30px;
}
.display{
 text-align: right;
 font-size: 50px;
}
.otvet{
    color: gray;
    height: 50px;
}
.primer{
    height: 50px;
}